{% macro filterForm(filterForm, actionUrl, resetUrl, searchText, page, productFilterCountData, priceRange) %}
    {{ form_start(filterForm, { action: actionUrl }) }}
        {% form_theme filterForm 'Front/Content/Product/filterFormTheme.html.twig' %}

        {% set isSearch = page == 'search' %}

        {% if isSearch %}
            <input
                type="hidden"
                name="{{ constant('App\\Controller\\Front\\ProductController::SEARCH_TEXT_PARAMETER') }}"
                value="{{ searchText|escape('html_attr') }}"
            />
        {% endif %}

        <div class="box-filter__choice box-filter__choice--without-border js-product-filter-box" data-product-filter-box-id="product_filter_box_price">
            <span class="box-filter__choice__title active js-product-filter-box-label">
                {{ 'Price'|trans }}
                <i class="svg svg-arrow cursor-pointer js-product-filter-box-arrow"></i>
            </span>
            <div class="box-filter__choice__content" id="product_filter_box_price">
                <div class="box-filter__price">
                    <div
                        class="box-filter__price__slider js-range-slider"
                        data-minimum-input-id="{{ filterForm.minimalPrice.vars.id }}"
                        data-minimal-value="{{ priceRange.minimalPrice|moneyFormat }}"
                        data-maximum-input-id="{{ filterForm.maximalPrice.vars.id }}"
                        data-maximal-value="{{ priceRange.maximalPrice|moneyFormat }}"
                    ></div>
                    <div class="box-filter__price__item">
                        {{ form_widget(filterForm.minimalPrice, {
                            attr: { class: 'js-product-filter-call-change-after-reset', placeholder:priceRange.minimalPrice.amount|formatNumber }
                        }) }}
                        <div class="box-filter__price__item__text">
                            {{ 'to'|trans }}
                        </div>
                    </div>
                    <div class="box-filter__price__item">
                        {{ form_widget(filterForm.maximalPrice, {
                            attr: { class: 'js-product-filter-call-change-after-reset', placeholder:priceRange.maximalPrice.amount|formatNumber }
                        }) }}
                        <div class="box-filter__price__item__text">
                            {{ currencySymbolByDomainId(getDomain().id) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-filter__choice js-product-filter-box" data-product-filter-box-id="product_filter_box_availability">
            <span class="box-filter__choice__title active js-product-filter-box-label">
                {{ 'Availability'|trans }}
                <i class="svg svg-arrow cursor-pointer js-product-filter-box-arrow"></i>
            </span>
            <div id="product_filter_box_availability" class="box-filter__choice__content">
                <div class="form-choice form-choice--block">
                    {{ form_widget(filterForm.inStock, { attr: { class: "css-checkbox" } }) }}
                    <label class="css-checkbox__image form-choice__label" for="{{ filterForm.inStock.vars.id }}">
                            {{ 'Products in stock only'|trans }}
                            {% if productFilterCountData is not null %}
                                <span
                                    class="js-product-filter-count"
                                    data-form-id="{{ filterForm.inStock.vars.id }}"
                                >
                                    ({{ productFilterCountData.countInStock }})
                                </span>
                            {% endif %}
                    </label>
                </div>
            </div>
        </div>

        {% if filterForm.flags is empty %}
            {% do filterForm.flags.setRendered %}
        {% else %}
            <div class="box-filter__choice js-product-filter-box" data-product-filter-box-id="{{ filterForm.flags.vars.id }}">
                <span class="box-filter__choice__title active js-product-filter-box-label">
                    {{ 'Flags'|trans }}
                    <i class="svg svg-arrow cursor-pointer js-product-filter-box-arrow"></i>
                </span>
                <div id="{{ filterForm.flags.vars.id }}" class="box-filter__choice__content">
                    {% for flagForm in filterForm.flags %}
                        <div class="form-choice form-choice--block">
                            {{ form_widget(flagForm, { attr: { class: "css-checkbox" } }) }}
                            <label class="css-checkbox__image form-choice__label" for="{{ flagForm.vars.id }}">
                                {{ flagForm.vars.label }}
                                {% if productFilterCountData is not null %}
                                    <span
                                        class="js-product-filter-count"
                                        data-form-id="{{ flagForm.vars.id }}"
                                    >
                                        {% if not flagForm.vars.checked %}
                                            {% set flagsCount = productFilterCountData.countByFlagId[flagForm.vars.value]|default(0) %}
                                            ({% if filterForm.flags.vars.data is not empty and flagsCount > 0 %}+{% endif %}{{ flagsCount }})
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if filterForm.brands is empty %}
            {% do filterForm.brands.setRendered %}
        {% else %}
            <div class="box-filter__choice js-product-filter-box" data-product-filter-box-id="{{ filterForm.brands.vars.id }}">
                <span class="box-filter__choice__title active js-product-filter-box-label">
                    {{ 'Brand'|trans }}
                    <i class="svg svg-arrow cursor-pointer js-product-filter-box-arrow"></i>
                </span>
                <div id="{{ filterForm.brands.vars.id }}" class="box-filter__choice__content">
                    {% for brandForm in filterForm.brands %}
                        <div class="form-choice form-choice--block">
                            {{ form_widget(brandForm, { attr: { class: 'css-checkbox'} }) }}
                            <label class="css-checkbox__image form-choice__label" for="{{ brandForm.vars.id }}">
                                {{ brandForm.vars.label }}
                                {% if productFilterCountData is not null %}
                                    <span
                                        class="js-product-filter-count"
                                        data-form-id="{{ brandForm.vars.id }}"
                                    >
                                        {% set brandCount = productFilterCountData.countByBrandId[brandForm.vars.value]|default(0) %}
                                        {% if not brandForm.vars.checked %}
                                            ({% if filterForm.brands.vars.data is not empty and brandCount > 0 %}+{% endif %}{{ brandCount }})
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if isSearch or filterForm.parameters is empty %}
            {% do filterForm.parameters.setRendered %}
        {% else %}
            <div class="box-filter__parameters">
                <div id="{{ filterForm.parameters.vars.id }}">
                    {% for parameterId, parameterForm in filterForm.parameters %}
                        <div class="box-filter__choice js-product-filter-parameter js-product-filter-box" data-product-filter-box-id="{{ parameterForm.vars.id }}">
                            <span class="box-filter__choice__title active js-product-filter-box-label js-product-filter-parameter-label">
                                {{ parameterForm.vars.label }}
                                <i class="svg svg-arrow cursor-pointer js-product-filter-box-arrow"></i>
                            </span>
                            <div id="{{ parameterForm.vars.id }}" class="box-filter__choice__content">
                                {% for parameterValueForm in parameterForm %}
                                    <div class="form-choice form-choice--block js-product-filter-parameter-value">
                                        {{ form_widget(parameterValueForm, { attr: { class: 'css-checkbox'} }) }}
                                        <label class="css-checkbox__image form-choice__label" for="{{ parameterValueForm.vars.id }}">
                                            {{ parameterValueForm.vars.label }}
                                            {% if productFilterCountData is not null %}
                                                <span
                                                    class="js-product-filter-count"
                                                    data-form-id="{{ parameterValueForm.vars.id }}"
                                                >
                                                    {% if not parameterValueForm.vars.checked %}
                                                        {% set parameterValueCount = productFilterCountData.countByParameterIdAndValueId[parameterId][parameterValueForm.vars.value]|default(0) %}
                                                        (
                                                            {%- if parameterForm.vars.data is not empty and parameterValueCount > 0 %}+{% endif -%}
                                                            {{- parameterValueCount -}}
                                                        )
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="box-filter__action">
            <a class="btn js-product-filter-reset-button" href="{{ resetUrl }}">{{ 'Clear filter'|trans }}</a>
            {{ form_widget(filterForm.search, { label: 'View results'|trans, attr: {class: 'js-product-filter-show-result-button btn--primary' } }) }}
        </div>

    {{ form_end(filterForm) }}
{% endmacro %}
